@use 'colors' as c;

.wrapper {
	width: 100%;
	margin: 0 auto;
	max-width: 1200px;
}
.section {
	padding: 0 2em;
}
.input {
	min-height: 35px;
	padding: 0.4em 1em;
	font-size: 1.3rem;
	border: none;
	outline: none;
	z-index: 100;
}
.title {
	text-align: center;
	font-size: 1.6rem;
	text-transform: uppercase;
	&--blue {
		color: c.$blue;
	}
}
.btn {
	padding: 0.4em 0.8em;
	border: none;
	background: none;
	font-size: 1.5rem;
	cursor: pointer;
	i {
		pointer-events: none;
	}
	&--trash,
	&--heart {
		color: c.$blue;
	}
}
.bgc-color {
	width: 100%;
	padding: 2em;
	&--faded-white {
		background-color: c.$fadedWhite;
	}
}
.block-scrolling {
	overflow: hidden;
}
