@use 'colors' as c;
.nav {
	&__btn {
		position: fixed;
		top: 30px;
		right: 30px;
		z-index: 1000;
		width: 30px;
		cursor: pointer;
		span {
			display: block;
			width: 100%;
			box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
			border-radius: 3px;
			height: 3px;
			background-color: white;
			transition: transform 0.3s;
			position: relative;
		}
		span + span {
			margin-top: 8px;
		}
	}
	.active span:nth-child(1) {
		animation: ease 0.7s top forwards;
	}

	.not-active span:nth-child(1) {
		animation: ease 0.7s top-2 forwards;
	}

	.active span:nth-child(2) {
		animation: ease 0.7s scaled forwards;
	}

	.not-active span:nth-child(2) {
		animation: ease 0.7s scaled-2 forwards;
	}

	.active span:nth-child(3) {
		animation: ease 0.7s bottom forwards;
	}

	.not-active span:nth-child(3) {
		animation: ease 0.7s bottom-2 forwards;
	}
	.favorites {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: fixed;
		top: 0;
		right: 0;
		transform: translateX(105%);
		width: 100vw;
		height: 100vh;
		max-width: 450px;
		background-color: c.$fadedWhite;
		z-index: 500;
		box-shadow: 0 0 5px c.$black;
		transition: transform 0.8s;

		&--active {
			transform: translateX(0);
		}
		&__box {
			padding: 2em;
			width: 100%;
			overflow-y: auto;
		}
		&__top {
			display: flex;
			align-items: center;
			justify-content: center;
			background-image: url('../img/nav.png');
			background-position: 100% 0%;
			background-size: cover;
			width: 100%;
			min-height: 25vh;
			color: c.$white;
			box-shadow: 0 0 05px c.$black;
		}
		&__title {
			position: relative;
			font-size: 2.3rem;
			font-weight: 100;
			&::after {
				position: absolute;
				bottom: -3px;
				left: 0;
				width: 100%;
				height: 2px;
				content: '';
				background-color: c.$white;
			}
		}
		&__text {
			text-align: center;
			margin-top: 30px;
			font-size: 1.9rem;
		}
	}
}
